; Negation and disjunction: not, not-join, or, or-join, and branches.

{:name "not/basic-negation"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/name "Alice" :p/age 30} {:db/id "b" :p/name "Bob"}]]
 :query [:find ?n :where [?e :p/name ?n] (not [?e :p/age _])]
 :expected #{["Bob"]}}

{:name "not/negation-with-constant"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/name "Alice" :p/age 30} {:db/id "b" :p/name "Bob" :p/age 25}]]
 :query [:find ?n :where [?e :p/name ?n] (not [?e :p/age 30])]
 :expected #{["Bob"]}}

{:name "not/multiple-clauses-are-conjoined"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}
          {:db/ident :p/city :db/valueType :db.type/string :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/name "Alice" :p/age 30 :p/city "Rome"}
       {:db/id "b" :p/name "Bob" :p/age 30}
       {:db/id "c" :p/name "Carol" :p/city "Rome"}]]
 :query [:find ?n :where [?e :p/name ?n] (not [?e :p/age 30] [?e :p/city "Rome"])]
 :expected #{["Bob"] ["Carol"]}}

{:name "not/negation-with-predicate"
 :schema [{:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/age 30} {:db/id "b" :p/age 25}]]
 :query [:find ?age :where [?e :p/age ?age] (not [(< ?age 28)])]
 :expected #{[30]}}

{:name "not-join/scopes-join-variables"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/friend :db/valueType :db.type/ref :db/cardinality :db.cardinality/many}
          {:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/name "Alice" :p/age 30}
       {:db/id "b" :p/name "Bob" :p/age 25}
       {:db/id "c" :p/name "Carol"}]
      [[:db/add #tempid "a" :p/friend #tempid "b"]]]
 :query [:find ?n
         :where [?e :p/name ?n]
                (not-join [?e] [?e :p/friend ?f] [?f :p/age 25])]
 :expected #{["Bob"] ["Carol"]}}

{:name "or/basic-disjunction"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/name "Alice" :p/age 30}
       {:db/id "b" :p/name "Bob" :p/age 25}
       {:db/id "c" :p/name "Carol" :p/age 35}]]
 :query [:find ?n :where [?e :p/name ?n] (or [?e :p/age 25] [?e :p/age 35])]
 :expected #{["Bob"] ["Carol"]}}

{:name "or/and-branch"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}
          {:db/ident :p/city :db/valueType :db.type/string :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/name "Alice" :p/age 30 :p/city "Rome"}
       {:db/id "b" :p/name "Bob" :p/age 25}
       {:db/id "c" :p/name "Carol" :p/age 35 :p/city "Oslo"}]]
 :query [:find ?n
         :where [?e :p/name ?n]
                (or (and [?e :p/age 30] [?e :p/city "Rome"])
                    [?e :p/age 25])]
 :expected #{["Alice"] ["Bob"]}}

{:name "or/branches-can-generate-bindings"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/nick :db/valueType :db.type/string :db/cardinality :db.cardinality/many}]
 :tx [[{:db/id "a" :p/name "Alice" :p/nick ["Al"]}]]
 :query [:find ?alias :where (or [_ :p/name ?alias] [_ :p/nick ?alias])]
 :expected #{["Alice"] ["Al"]}}

{:name "or/branch-variable-mismatch-errors"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/name "Alice"}]]
 :query [:find ?n :where (or [?e :p/name ?n] [?e :p/age ?a])]
 :expect-error true}

{:name "or-join/projects-only-declared-variables"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}
          {:db/ident :p/friend :db/valueType :db.type/ref :db/cardinality :db.cardinality/many}]
 :tx [[{:db/id "a" :p/name "Alice" :p/age 30}
       {:db/id "b" :p/name "Bob"}
       {:db/id "c" :p/name "Carol"}]
      [[:db/add #tempid "b" :p/friend #tempid "a"]]]
 :query [:find ?n
         :where [?e :p/name ?n]
                (or-join [?e]
                  [?e :p/age 30]
                  (and [?e :p/friend ?f] [?f :p/age 30]))]
 :expected #{["Alice"] ["Bob"]}}

{:name "or/nested-inside-not"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/name "Alice" :p/age 30}
       {:db/id "b" :p/name "Bob" :p/age 25}
       {:db/id "c" :p/name "Carol" :p/age 35}]]
 :query [:find ?n :where [?e :p/name ?n] (not (or [?e :p/age 25] [?e :p/age 35]))]
 :expected #{["Alice"]}}

{:name "not/inside-or-branch"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}
          {:db/ident :p/city :db/valueType :db.type/string :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/name "Alice" :p/age 30}
       {:db/id "b" :p/name "Bob" :p/city "Oslo"}]]
 :query [:find ?n
         :where [?e :p/name ?n]
                (or-join [?e]
                  [?e :p/city "Oslo"]
                  (not [?e :p/city _]))]
 :expected #{["Alice"] ["Bob"]}}

{:name "not/everything-negated-empty"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/name "Alice"}]]
 :query [:find ?n :where [?e :p/name ?n] (not [?e :p/name ?n])]
 :expected #{}}

{:name "or/single-branch-acts-as-and"
 :schema [{:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/age 30}]]
 :query [:find ?e :where (or [?e :p/age 30])]
 :expected #{[#tempid "a"]}}

{:name "not-join/unrelated-outer-variable-not-constrained"
 :schema [{:db/ident :p/name :db/valueType :db.type/string :db/cardinality :db.cardinality/one}
          {:db/ident :p/age :db/valueType :db.type/long :db/cardinality :db.cardinality/one}]
 :tx [[{:db/id "a" :p/name "Alice" :p/age 30}
       {:db/id "b" :p/name "Bob" :p/age 30}]]
 :query [:find ?n ?other
         :where [?e :p/name ?n]
                [?o :p/name ?other]
                (not-join [?e] [?e :p/age 25])]
 :expected #{["Alice" "Alice"] ["Alice" "Bob"] ["Bob" "Alice"] ["Bob" "Bob"]}}
