{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        org.clojure/core.async {:mvn/version "1.8.741"}
        dev.corium/corium-client {:mvn/version "0.1.81"}}
 :aliases
 {:test {:extra-paths ["test"]
         :main-opts ["-m" "corium.test-runner"]}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.14"}}
          :ns-default build}
  :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "0.2.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :artifact "target/corium-clojure.jar"
                       :pom-file "target/classes/META-INF/maven/dev.corium/corium-clojure/pom.xml"
                       :sign-releases? false}}
  ;; LocalPeer needs the native engine JAR for the host platform. Select one
  ;; of these aliases in an application; RemotePeer needs none of them.
  :native-linux-x86-64
  {:extra-deps
   {dev.corium/corium-client$linux-x86_64 {:mvn/version "0.1.81"}}}
  :native-linux-aarch64
  {:extra-deps
   {dev.corium/corium-client$linux-aarch64 {:mvn/version "0.1.81"}}}
  :native-macos-x86-64
  {:extra-deps
   {dev.corium/corium-client$macos-x86_64 {:mvn/version "0.1.81"}}}
  :native-macos-aarch64
  {:extra-deps
   {dev.corium/corium-client$macos-aarch64 {:mvn/version "0.1.81"}}}
  :native-windows-x86-64
  {:extra-deps
   {dev.corium/corium-client$windows-x86_64 {:mvn/version "0.1.81"}}}}}
